<!DOCTYPE html>
<html language="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>購物車</title>
</head>
<body>
這是購物車頁面
<div class="list-content">
	<div class="list-item" th:each="cart : ${cartList}" th:object="${cart}">
		<form th:action="@{|/cart/*{id}|}" method="post" th:name="|form*{id}|">
			<input type="hidden" name="_method" value="delete"/>
		</form>
    	<span th:text="*{id}">	</span>
    	<span th:text="*{veg.vegName}">	</span>
    	<span th:text="*{buyCount}">	</span>
    	<a href="#" th:onclick="|deleteCart(*{id})|">delete</a>
    </div>
</div>
<form th:action="@{/order}" method="post">
	<input type="submit" value="訂單確認">
</form>
<script>
function deleteCart(id){
	const form = document.forms['form' + id];
	form.submit();
}
</script>

</body>
</html>